extends layout

block content

    .container-fluid#referenceContainer
        .row
            .col-sm-6
                br
                br
                p
                    .text-justify This map combines data on children obesity level and locations of fastfoods near Primary Schools and children obesity rates.
            .col-sm-6
        h1 References:
        .row
            .col-sm-2 Local Authorities and MSOA Geographic Boundaries:
            .col-sm-10
                a(href="https://geoportal.statistics.gov.uk/geoportal/catalog/content/filelist.page") Office for National Statistics

        .row
            .col-sm-2 Schools Data
                
            .col-sm-10
                a(href="http://www.education.gov.uk/edubase/home.xhtml") EduBase School Data
        .row
            .col-sm-2 Fastfoods Data
            .col-sm-10
                a(href="http://ratings.food.gov.uk/open-data/en-GB") Food Standards Agency 
        .row
            .col-sm-2 Obesity Children
            .col-sm-10
                a(href="http://www.localhealth.org.uk/#v=map7;i=t1.cent_heat;l=en") Public Health England
